.Card2 {
    margin: 8%; /* Add your desired spacing here */
    display: flex; 
    flex-direction: column;
    align-items: center; /* จัดกึ่งกลางตามแนวตั้ง */
    transition: all 0.3s;

  }

  .Card2:hover {
    background: linear-gradient(180deg, rgba(213, 204, 179, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%);
    border-image-slice: 8; /* กำหนดขอบกรอบ */
    border-width: 2px; /* ความหนาขอบกรอบ */
    border-style: solid; /* สไตล์ขอบกรอบ */
    border-radius: 24px; /* ความโค้งขอบกรอบ */
    margin: 8%;
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.25);
    transform: scale(1.2); 

  }

  #Logo2 {
    width: 150px;
    height: auto;
  }

  #Logo2Hover {
    display: none;
    width: 150px;
    height: auto;
  }

  .Card2:hover #Logo2 {
    display: none;
  }

  .Card2:hover #Logo2Hover {
    display: flex;
  }

  @media (min-width: 1200px) {

    #Logo1 {
      width: 240px;
      height: auto;
    }
    #Logo2 {
      width: 240px;
      height: auto;
    }
    #Logo3 {
      width: 240px;
      height: auto;
    }

    #Logo2Hover {
      display: none;
      width: 240px;
      height: auto;
    }
    
  }

  @media (max-width: 1100px){
    .Box7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    }
    }

  /* Card */

  .Frame1 {
    width: 80vw;
    height: 100%;
    max-width: 1920px;
    max-height: 946.5px;
    background: linear-gradient(180deg, rgba(213, 204, 179, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%);
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
  }

  .HeaderText1 {
    display: flex;
    justify-content: center;
  }

  .CenteredHeader1 {
    text-align: center;
    padding-top: 2%;
    font-size: 24px;
  }

  #BntBack1 {
    margin-left: 5vw;
  }

  #MockupLaserPatch {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    width: 280px;
    margin-top: 128px;
    visibility: hidden;
  }

  #FieldDesignPatch {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    margin-top: 24px;
  }

  img[src="/static/media/LaserPatchHover.1e861d1100d57a2d391d.png"] {
    /* ปรับแต่ง CSS ที่นี่ */
    scale: 1.2;
}
