.navigation {
    display: flex;
    flex-direction: column; /* กำหนดให้แสดงเป็นแนวดิ่ง */
    align-items: center; /* จัดตำแหน่งสไตล์ให้กลางจากแนวตั้ง */
    margin-left: -5%;
  }
 

  .Icon img{
    border-radius: 48%;
    box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.25);

  }

  .Icon img:hover{
    transform: scale(1.2); 
  }

  .Menu-iconsWhite {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
  }

  .Icon.active {
    border: 4px solid red; /* เพิ่มเส้นขอบสีแดงเมื่อเลือก */
    height: 50px;
    border-radius: 30px;
  }

  .Icon1 {
    border: 4px solid red; /* เพิ่มเส้นขอบสีแดงเมื่อเลือก */
    height: 50px;
    border-radius: 30px;
  }

  .Icon1 img:hover{
    transform: scale(1.2); 
  }

  @media (max-width: 1100px) {

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.Menu-iconsWhite {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
  }


  @media (max-width: 540px) {
  
    /*.Menu-iconsWhite {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      max-width: 150px;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }*/
}