/* CSS (Products.css) */
.Productsitem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* จัดกึ่งกลางตามแนวนอน */
    align-items: center; /* จัดกึ่งกลางตามแนวตั้ง */
    height: 75vh; /* ให้ความสูงเต็มหน้าจอ */
  }
  

  .Card1 {
    margin: 8%; /* Add your desired spacing here */
  }

  .Card2 {
    margin: 8%; /* Add your desired spacing here */
  }

  .Card3 {
    margin: 8%; /* Add your desired spacing here */
  }



  @media screen and (max-width: 480px) {
    #Logo1, #Logo2, #Logo3 {
      max-width: 40%; /* ปรับขนาดรูปภาพเมื่อหน้าจอเป็นแนวดิ่ง */
    }

     .Productsitem {
          flex-direction: row; /* แสดงแนวดิ่งเมื่อหน้าจอต่ำกว่า 480px */
          height: 75vh; /* ยกเลิกความสูงเต็มหน้าจอ */
    }



}

  