/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto; /* เพิ่มการเลื่อนแนวตั้งเมื่อเนื้อหาเกินหน้าจอ */
}

.button .select {
  padding: 10px;
  border-radius: 8px;
}

.App {
  background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 100%, white 100%);
  /* กำหนดสีพื้นหลังเป็น linear-gradient ตามที่คุณต้องการ */
  display: flex;
  justify-content: center;
  align-items: center;
  /* สไตล์อื่น ๆ ที่คุณต้องการ */
  height: 100vh;
}


#Logo{
  margin-bottom: 3%;
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10%;


}

a {
  text-decoration: none; 
}


a:hover, a:active {
  text-decoration: none; 
}

.HomePage {
  /* รายละเอียด CSS สำหรับ HomePage ตามที่คุณต้องการ */
}


.Content1.visible {
  display: block; /* แสดง Content1 ถ้ามีคลาส 'visible' */
}

:root {
  --max-width: 1920px;
  --max-height: 1080px;
}

