.MainAll {
  display: flex;
  flex-direction: column;
  height: 100vh; /* ทำให้ความสูงของ body เต็มหน้าจอ */
  width: 100vw;
  margin: 0; /* ลบ margin ที่ถูกกำหนดใน body โดยปริยาย */
}

.video-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2%;

  }

  .centered-button {
    display: flex;
  }

  .centered-button2 {
    display: none;
  }
  
  .Submain {
    height: 40%;
  }

  .video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, black 0%, rgba(217, 217, 217, 0) 100%);
    z-index: 0; /* ให้ linear-gradient อยู่เหนือวิดีโอ */
  }
  
  .Video {
    width: 100vw;
    height: 60vh;
    object-fit: cover; 
    z-index: 1;
  }
  

  .Video::-webkit-media-controls {
    display: none;
  }

  .MockupSlider {
    width: 100vw;
    height: 30vh;
  }

  #bgfooter {
    width: 100%;
    height: 8vh;
  }

  .Footergroup{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .TextFooter {
    display: flex;
    font-size: 50px;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    justify-content: flex-start;
    white-space: nowrap;
  }

  .centered-button {
    font-family: 'Dameron', sans-serif; /* ใช้ font ที่กำหนด */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0; /* กำหนดค่าความโปร่งแสงเริ่มต้นเป็น 0 */
    transition: opacity 0.3s; /* เพิ่มการเปลี่ยนแปลงความโปร่งแสง */
    z-index: 3; 
  }
  
  .centered-button button {
    font-family: 'Dameron', sans-serif; /* ใช้ font ที่กำหนด */
    background-color: #000000;
    color: #fff;
    padding: 18px 26px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    z-index: 3; 
  }

  .centered-button2 {
    display: none;
    font-family: 'Dameron', sans-serif; /* ใช้ font ที่กำหนด */
    text-align: center;
    transition: opacity 0.3s; /* เพิ่มการเปลี่ยนแปลงความโปร่งแสง */
    z-index: 3; 
    justify-content: center;
    padding: 8px;

  }
  
  .centered-button2 button {
    font-family: 'Dameron', sans-serif; /* ใช้ font ที่กำหนด */
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    z-index: 3; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .image-overlay {
    /*position: absolute;
    top: 3%;
    left: 3%;
    width: 30%;  ปรับขนาดของรูปตามที่ต้องการ */
    max-width: 200px; /* ปรับขนาดสูงสุดของรูปตามที่ต้องการ */
    z-index: 3; 
  }
  

  .video-container:hover .centered-button {
    opacity: 4; /* แสดงปุ่มเมื่อ hover บน video-container */
  }


  @media (max-width: 1614px) {
    .TextFooter {
      font-size: 36px;
    }

  }

  @media (max-width: 1260px) {
    .TextFooter {
      font-size: 28px;
    }

  }

  @media (max-width: 975px) {
    .TextFooter {
      font-size: 18px;
    }

    .centered-button {
      display: none;
    }
  
    .centered-button2 {
      display: flex;
    }

    .Footergroup {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    .Logo {
      width: 100% !important;
    }


    .LogoGroup {
      margin-left: 2% !important;
      margin-right: 2%;
    }

  }

  /* mobile */

  .TextFooter {
    flex: 3; /* ส่วนซ้ายเป็น 30% */
    margin-left: 3%;
    padding: 0;
    color: #D5CCB3;
  }

  .Logo {
    position: relative;
    width: 70%; /* ปรับความกว้างเป็น 70% */
    margin-left: auto; /* ทำให้ตำแหน่งของพื้นหลังชิดขวา */
  }
  
  #bgfooter {
    position: absolute;
    top: 0;
    right: 0; /* ทำให้ตำแหน่งของรูปพื้นหลังชิดขวา */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .LogoGroup {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around; /* จัดวางโลโก้ต่าง ๆ ในรูปแบบที่คุณต้องการ */
    margin-left: 8%;
    padding: 12px;
  }
  
  /* เพิ่มสไตล์ตัวอื่น ๆ ที่คุณต้องการสำหรับโลโก้ */

  
  /* Header */
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: #000;
    z-index: 1;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo a span {
    color: #8739fa;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #fff!important;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #151418;
      align-items: start;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
    }
  }
  