@font-face {
  font-family: 'Dameron';
  src: url('./Front/dameron.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Dameron', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.centered-button {
  font-family: 'Dameron', sans-serif; /* ใช้ font ที่กำหนด */
}

code {
  font-family: 'Dameron', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

